In [20]:
import yfinance as yf

tickerData = yf.Ticker("MSFT, AMZN")

In [2]:
# get stock info
tickerData.info

{'zip': '98052',
 'sector': 'Technology',
 'fullTimeEmployees': 144000,
 'longBusinessSummary': "Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company's Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); and Skype, Outlook.com, and OneDrive. It also provides LinkedIn that includes Talent and marketing solutions, and subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. The company's Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also provides support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. The company's More Personal Computing segment offers Windows OEM licensing and other non-volume licensing of the Windows operating system; Windows Commercial comprising volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also provides Microsoft Surface, PC accessories, and other intelligent devices; Gaming, including Xbox hardware, and Xbox software and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through distributors and resellers; and directly through digital marketplaces, online stores, and retail stores. It has strategic partnerships with Humana Inc. and Nokia. The company was founded in 1975 and is headquartered in Redmond, Washington.",
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425-706-7329',
 'industry': 'Software—Infrastructure',
 'previousClose': 142.71,
 'regularMarketOpen': 146,
 'twoHundredDayAverage': 153.27417,
 'trailingAnnualDividendYield': 0.0135940015,
 'payoutRatio': 0.32930002,
 'volume24Hr': None,
 'regularMarketDayHigh': 147.07,
 'navPrice': None,
 'averageDailyVolume10Day': 82950437,
 'totalAssets': None,
 'regularMarketPreviousClose': 142.71,
 'fiftyDayAverage': 167.63142,
 'trailingAnnualDividendRate': 1.94,
 'open': 146,
 'toCurrency': None,
 'averageVolume10days': 82950437,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1589932800,
 'beta': 1.091844,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 135.86,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 23.924404,
 'regularMarketVolume': 84866215,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1044690960384,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 43492650,
 'priceToSalesTrailing12Months': 7.781741,
 'dayLow': 135.86,
 'ask': 136.53,
 'ytdReturn': None,
 'askSize': 1400,
 'volume': 84866215,
 'fiftyTwoWeekHigh': 190.7,
 'forwardPE': 21.905903,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 2,
 'fiftyTwoWeekLow': 115.52,
 'bid': 136.36,
 'tradeable': True,
 'dividendYield': 0.0143,
 'bidSize': 1400,
 'dayHigh': 147.07,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.431,
 'beta3Year': None,
 'profitMargins': 0.33016,
 'enterpriseToEbitda': 16.283,
 '52WeekChange': 0.1673466,
 'morningStarRiskRating': None,
 'forwardEps': 6.27,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7606049792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 14.467,
 'sharesShort': 37031775,
 'sharesPercentSharesOut': 0.0049,
 'fundFamily': None,
 'lastFiscalYearEnd': 1561852800,
 'heldPercentInstitutions': 0.74404997,
 'netIncomeToCommon': 44323000320,
 'trailingEps': 5.741,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.17633194,
 'priceToBook': 9.494021,
 'heldPercentInsiders': 0.01421,
 'nextFiscalYearEnd': 1625011200,
 'mostRecentQuarter': 1577750400,
 'shortRatio': 0.82,
 'sharesShortPreviousMonthDate': 1580428800,
 'floatShares': 7495150845,
 'enterpriseValue': 997606555648,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.383,
 'dateShortInterest': 1582848000,
 'pegRatio': 1.85,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0049,
 'sharesShortPriorMonth': 56674560,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 146,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [22]:
# get historical market data
#hist = tickerData.history(period="max")
#hist.tail()

#get the historical prices for this ticker
hist = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25') # ‘1d’ (daily), ‘1mo’ (monthly), ‘1y’ (yearly)

#see your data
hist

- MSFT, AMZN: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [4]:
# show actions (dividends, splits)
tickerData.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-02-20       0.46           0.0
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0

[74 rows x 2 columns]

In [5]:
# show dividends
tickerData.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-02-20    0.46
2019-05-15    0.46
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
Name: Dividends, Length: 65, dtype: float64

In [6]:
# show splits
tickerData.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [7]:
# show financials
display(tickerData.financials)
display(tickerData.quarterly_financials)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [8]:
# show balance heet
display(tickerData.balance_sheet)
display(tickerData.quarterly_balance_sheet)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [9]:
# show cashflow
display(tickerData.cashflow)
display(tickerData.quarterly_cashflow)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [10]:
# show earnings
display(tickerData.earnings)
display(tickerData.quarterly_earnings)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [11]:
# show sustainability
display(tickerData.sustainability)

                                     Value
2020-1
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.71
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                         0
peerCount                               98
governanceScore                       5.19
environmentPercentile                    0
animalTesting                        False
tobacco                              False
totalEsg                             15.35
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                             7.5
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.44
governancePercentile                     0
militaryContract                     False

In [12]:
# show analysts recommendations
display(tickerData.recommendations)

                          Firm        To Grade From Grade Action
Date
2012-07-20  Griffin Securities             Buy              init
2012-07-20       Goldman Sachs         Neutral              main
2012-08-20    Longbow Research             Buy              init
2012-09-12           Jefferies            Hold              init
2012-10-01         RBC Capital  Sector Perform              down
...                        ...             ...        ...    ...
2019-12-17       Deutsche Bank             Buy              main
2020-01-08      Morgan Stanley      Overweight              main
2020-01-09             Wedbush      Outperform              main
2020-01-09         Cowen & Co.      Outperform              main
2020-01-10           Jefferies             Buy              main

[226 rows x 4 columns]

In [13]:
# show next event (earnings, etc)
tickerData.calendar

                                    0                    1
Earnings Date     2020-04-22 00:00:00  2020-04-27 00:00:00
Earnings Average                 1.31                 1.31
Earnings Low                     1.18                 1.18
Earnings High                    1.43                 1.43
Revenue Average           34347800000          34347800000
Revenue Low               32796000000          32796000000
Revenue High              35111000000          35111000000

In [14]:
# show ISIN code - *experimental*
#ISIN = International Securities Identification Number
display(tickerData.isin)

'US5949181045'

In [15]:
# show options expirations
tickerData.options

('2020-03-27',
 '2020-04-03',
 '2020-04-09',
 '2020-04-17',
 '2020-04-24',
 '2020-05-01',
 '2020-05-15',
 '2020-06-19',
 '2020-07-17',
 '2020-09-18',
 '2020-10-16',
 '2020-12-18',
 '2021-01-15',
 '2021-03-19',
 '2021-06-18',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16')